In [44]:
# Step 2
import pandas as pd

# Step 3
file_path = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter07/Data/student-mat.csv'
df = pd.read_csv(file_path, delimiter=';')

# Step 4
df = df[[
    'school', 'sex', 'age', 'address', 'health', 'absences', 'G1', 'G2', 'G3'
]]

# Step 5
df.head(10)

# Step 6
pd.pivot_table(df, index='school', values=['age','health','health', 'absences', 'G1', 'G2', 'G3'])

# Step 7
pd.pivot_table(df, index=['school', 'age'], values=['health','health', 'absences', 'G1', 'G2', 'G3'])

# Step 8
pd.pivot_table(df, index=['school', 'sex', 'age'], values='absences', aggfunc={'mean', 'sum'})

                     mean  sum
school sex age
GP     F   15    3.894737  148
           16    5.888889  318
           17    7.120000  356
           18    8.137931  236
           19   13.083333  157
       M   15    2.863636  126
           16    4.980000  249
           17    6.138889  221
           18    6.500000  182
           19   12.166667   73
           20    0.000000    0
           22   16.000000   16
MS     F   17    5.625000   45
           18    1.785714   25
           19    2.000000    4
           20    4.000000    4
       M   17    2.750000   11
           18    4.818182   53
           19    4.250000   17
           20   11.000000   11
           21    3.000000    3